body{
  font-family: 'Poppins', sans-serif;
  margin: 0px;

}
h1{
  font-size: 50px;
}
.orange{
  color: orange;
}

.falex{

  display: flex;
  margin-bottom: 100px;
}


.half{
  padding: 50px;
  
}
.half2{
  
  box-shadow: 10px 10px 40px rgb(0, 0, 0);
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 30px;
  
}
.linkbutton{

  text-decoration: none;
  background-image: linear-gradient(orange, red);
  padding: 10px 40px ;
  border-radius: 6px;
  color: white;
  font-weight: 700px;
}

.top-banner{

  background-image: url(image/rose1.jpg);
  background-repeat: no-repeat;
  

}
.banner1{

  background-image: url(image/rose4.jpg);
  background-repeat: no-repeat;
  background-position: center;
}